<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Cart\Add" type="SmartOSC\GroupOrder\Controller\Cart\Add"/>
    <preference for="Magento\Sales\Model\Order\Email\Container\OrderIdentity" type="SmartOSC\GroupOrder\Model\Order\Email\Container\OrderIdentity"/>

    <type name="SmartOSC\GroupOrder\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SmartOSC\GroupOrder\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">groupOrderLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SmartOSC\GroupOrder\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="group_order_grid_data_source" xsi:type="string">SmartOSC\GroupOrder\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="group_order_grid_data_source" xsi:type="string">SmartOSC\GroupOrder\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="order_cart_token" xsi:type="string">sales_order.order_cart_token</item>
            </argument>
        </arguments>
    </type>
</config>
