<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="grouporder_addtocart_plugin" type="SmartOSC\GroupOrder\Plugin\Controller\Cart\AddPlugin" sortOrder="10" disabled="false"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Container\OrderIdentity">
        <plugin name="grouporder_orderidentity_plugin" type="SmartOSC\GroupOrder\Plugin\Model\Order\Email\Container\OrderIdentityPlugin" sortOrder="10" disabled="false"/>
    </type>

    <type name="SmartOSC\GroupOrder\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SmartOSC\GroupOrder\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">groupOrderLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SmartOSC\GroupOrder\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
