<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Helper\Cart">
        <plugin name="group_order_cart_plugin" type="SmartOSC\GroupOrder\Plugin\Checkout\Helper\AddParamCheckoutCart"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\AbstractCart">
        <plugin name="cart_item_override" type="SmartOSC\GroupOrder\Plugin\Cart\SetTemplate" sortOrder="1"/>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="custom_quote_plugin" type="SmartOSC\GroupOrder\Plugin\QuoteItem\DuplicateRowQuoteItem" sortOrder="10" disabled="false"/>
    </type>
</config>
